*{
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

:root{
    --bg-color: #1f2937;
    --title-color: #f9faf8;
    --primary-color: #3882f6;
    --secondary-color: #e5e7eb;
    --xl: 48px;
    --lg: 36px;
    --md: 24px;
    --sm: 18px;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.btn{
    font-size: var(--sm);
    background-color: var(--primary-color);
    border: none;
    border-radius: 10px;
    color: var(--title-color);
    padding: 10px 40px;
}

.hero{
    background: var(--bg-color);
}

body{
    font-family: sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}


/* Start Hero Section  */

/* start navbar  */
.navbar{
    width: 100%;
    justify-content: space-between;
    padding: var(--sm) 0;
}

.navbar .logo .text{
    font-size: var(--md);
    color: var(--title-color);
}

.navbar-btn{
    background-color: var(--bg-color);
    border-radius: 5px;
    border: none;
    cursor: pointer;

    padding: 5px;

    position: fixed;
    top: 10px;
    right: calc(15% - 30px);

    display: none;

    z-index: 2;
}

.navbar-btn .line{
    width: 25px;
    height: 3px;
    background-color: var(--secondary-color);

    margin: 5px 0;
}

.link .text,
.secondary-text{
    font-size: var(--sm);
    color: var(--secondary-color);
}

.navbar .link .text{
    margin: 10px;
}
/* end navbar  */

/* start banner  */
.banner .secondary-text{
    margin: 10px 0;
}

.banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;

    overflow: hidden;
}

.hero .main-text{
    font-size: var(--xl);
    color: var(--title-color);
}

.banner .col2{
    height: calc(100% / 2);
}
/* end banner  */

/* End Hero Section  */

/* Start Information Section  */
.information{
    background-color: var(--title-color);
    margin-bottom: 5rem;
}

.information h1{
    font-size: var(--lg);
    margin: 3rem 0;
}

.squares{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2.5rem;
}

.square{
    text-align: center;
}

.square, .square img{
    border-radius: 10px;
}

.square .secondary-text{
    font-weight: bold;
    margin: 10px 0;
}

.square:hover .secondary-text{
    color: var(--bg-color);
}
/* End Information Section  */


/* Start Quote Section  */
.quote-section{
    background-color: var(--secondary-color);
    padding: 5rem 0;
}

.quote-section .blockquote{
    width: 55%;
    text-align: justify;
    align-items: end;
}

.blockquote p{
    font-size: var(--lg);
    font-weight: lighter;
    font-style: italic;
    color: var(--bg-color);
    padding: 1.5rem 0;
}

.blockquote h4{
    font-weight: bolder;
    font-size: var(--md);
}
/* End Quote Section  */


/* Start Action Section  */
.action-section .action-container{
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 3rem 0; 
    margin: 5rem auto;
    justify-content: space-around;
}

.action-container .text{
    color: var(--secondary-color);
}

.action-container .text h2{
    font-size: var(--md);
    color: var(--title-color);
    margin-bottom: 0.5rem;
}

.action-container .btn{
    font-weight: bold;
    border: 3px solid var(--title-color);
}
/* End Action Section  */


/* Start Footer Section  */
.footer-container{
    font-size: var(--sm);
    background-color: var(--bg-color);
    color: var(--secondary-color);
    padding: var(--lg) 0;
}

/* End Footer Section  */



/* Media Screen */
@media (max-width: 768px) {
    .navbar-btn.navbar-btn.toggle .line:nth-child(2){
        display: none;
    }
    .navbar-btn.navbar-btn.toggle .line:nth-child(1){
        transform: translateY(4px) rotate(45deg);
        transition: all 0.3s linear;
    }
    .navbar-btn.navbar-btn.toggle .line:nth-child(3){
        transform: translateY(-4px) rotate(-45deg);
        transition: all 0.3s linear;
    }

    .navbar-btn{
        display: block;
    }

    .navbar-btn.toggle{
        background-color: red;
    }

    .navbar-links{
        display: none;

        width: 100%;
        height: 100vh;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
        position: fixed;
        top: -100%;
        left: 0;

        transition: all 1s ease-in;
    }
    
    .navbar-btn.toggle + .navbar-links{
        display: flex;
        align-items: stretch;
        justify-content: space-evenly;
        flex-direction: column;
        
        transform: translateY(100%);
        transition: all 1s ease-in;
    }

    .navbar-links .link{
        margin-left: 2rem;
    }

    .navbar-links .link .text{
        font-size: var(--md);
    }
}

@media (min-width: 525px) and (max-width: 768px) {
    :root{
        --xl: 36px;
        --lg: 24px;
        --md: 18px;
        --sm: 14px
    }

    .container{
        width: 80%;
    }

    .flex-center{
        flex-wrap: wrap;
    }

    .squares{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }

    .action-section .action-container{
        padding: 2rem;
        justify-content: flex-start;
    }

    .action-container .text{
        margin: 1rem 0;
    }

    .action-container .btn{
        margin: 1rem 0;
    }

}


@media (max-width: 525px) {
    :root{
        --xl: 30px;
        --lg: 20px;
        --md: 16px;
        --sm: 14px
    }

    .container{
        width: 80%;
    }

    .flex-center{
        flex-wrap: wrap;
    }

    .hero .banner{
        margin-bottom: 3rem;
    }

    .banner{
        display: flex;
        flex-direction: column-reverse;

        margin-top: 3rem;
    }

    .banner .col2{
        width: 100%;
        height: 300px;
    }

    .navbar .navbar-links{
        display: none;
    }

    .squares{
        grid-template-columns: 1fr;
        grid-gap: 2rem;
    }

    .action-section .action-container{
        padding: 2rem;
        justify-content: flex-start;
    }

    .action-container .text{
        margin: 1rem 0;
    }

    .action-container .btn{
        margin: 1rem 0;
    }

}